@font-face {
  font-family: 'Lydia-BoldCondensed';
  src: url('../fonts/Lydia/Lydia-BoldCondensed.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AtlasGrotesk-Regular';
  src: url('../fonts/AtlasGrotesk-Regular/AtlasGrotesk-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/AtlasGrotesk-Regular/AtlasGrotesk-Regular.otf')  format('opentype'),
	     url('../fonts/AtlasGrotesk-Regular/AtlasGrotesk-Regular.woff') format('woff'), url('../fonts/AtlasGrotesk-Regular/AtlasGrotesk-Regular.ttf')  format('truetype'), url('../fonts/AtlasGrotesk-Regular/AtlasGrotesk-Regular.svg#AtlasGrotesk-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
