@import url("font.css");


body {
	background: url("../img/altai.png") no-repeat center center fixed;
	-webkit-background-size: cover;
 	 -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	/*background-color: #ffe9de;

	background: #ffe9de; /* Old browsers */ #DAD2F3
	/*background: -moz-linear-gradient(top,  #ffe9de 0%, #726cf8 50%, #FBA8A4 100%); /* FF3.6-15 */
	/* background: -webkit-linear-gradient(top, #ffe9de 0%  #726cf8 50%, #FBA8A4 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom,  #DAD2F3 0% ,#FBA8A4 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
}


h1{
	font-family: 'Lydia-BoldCondensed' !important;
	font-size: 8rem;
}


body{
	font-family: 'AtlasGrotesk-Regular' !important;
	margin: 0;
}
figcaption{
	font-weight: bold;
}
.cosmogram{
	width: 100%;
	height: 100%;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);

}
.cosmogram:hover{
	filter: none;
	/* box-shadow:20px 20px 50px 15px grey;
	background: #FFF; */
	background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), transparent);
}
.scene-label{
	font-family: 'AtlasGrotesk-Regular' !important;
	font-size: 2em;
}
.whitepaper_icon{
  width: 100%;
}
.media-links{
	background: #fff;
	padding: 2em;
	top: -2em;
	position: relative;
}
.title-container{
	position: relative;
	height: 100%;
	text-align: center;
}
.whitepaper-container{

}
.whitepaper-container a{
	text-decoration: none;
	color: black;
}
#title{
	font-size: 15em;
	width: 400px;
	top: 33%;
  position: absolute;
	right: 0;
  left: 0;
  margin: auto;
}
.section{
	height: 100vh;
	display: block;
}

.bio{
	margin-top: 15em;
}
.credit{
	margin-bottom: 5em;
	font-size: 9px;
}

.description p{
	font-size: 1em;
	line-height: 1.5em;
	width: 100%;
	margin-top: 1em;
}

.cosmos-container{
	margin-top: 15em;
}

.text-chunk{
	font-size: 20px;
}
#closeModal{
	right: calc((100vw - 100vh)/4);
	top: 2em;
	position: absolute;
	font-size: 3em;
	width: 1.5em;
	height: 1.5em;
	background-size: contain;
	cursor: pointer;
}
#cosmoSketch{
}
.blurLayer{
	width: 100vw;
	height: 100vh;
	background: #DDDDDD;
	opacity: .4;
}
.canvasContainer{
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	/* -webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px); */
}
#info-Icon-wrapper:hover{
	background-color: #DDDDDD;
	width: 18vw;
	height: 6vh;
}
#info-Icon-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: black;
	width: 7vw;
	height: 3vh;
	min-height: 1em;
	margin: 0 auto;
	cursor: pointer;
	transition: 0.3s;
}
#info-Icon{
	display: block;
	/* width: 2vh;
	min-width: 1em; */
	height: 100%;
	min-height: 1em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}
.info-wrapper-open{
	width: 18vw !important;
	height: 6vh !important;
	position:fixed !important;
	background: none !important; 
}

.info-open{
	-webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#hr {
	width: 20%;
	margin: 1% 0;
	margin-top: 24%;
	border-bottom: 8px solid;
	float:left;
}
.divider-label{
	width: 20%;
	border-bottom: 8px solid;
}
#about {
	width: 100%;
	left: 0;
	display: none;
	z-index: 200;
	transition: all 1s ease-in-out
	color: #000;
	background: #DDDDDD;
	padding: 1em;
}

#about div {
		margin: 0px auto;
}

#about div p {
		max-width:680px;
}
.spacer span{
	opacity: 0;
}

	/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#closeModal{
		background-image: url("../symbols/x_small.png");
	}
	#info-Icon{
		background-image: url("../symbols/plus_white_small@2x.png");
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#closeModal{
		background-image: url("../symbols/x_medium.png");
	}
	#info-Icon{
		background-image: url("../symbols/plus_white_medium.png");
	}
	#about{
		padding: 0;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#closeModal{
		background-image: url("../symbols/x_medium@2x.png");
	}
	#info-Icon{
		background-image: url("../symbols/plus_white_medium@2x.png");
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#closeModal{
		background-image: url("../symbols/x_big.png");
	}
	#info-Icon{
		background-image: url("../symbols/plus_white_big.png");
	}
	body{
		overflow: hidden;
		position:fixed;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#closeModal{
		background-image: url("../symbols/x_big@2x.png");
	}
	#info-Icon{
		background-image: url("../symbols/plus_white_big@2x.png");
	}
}
