
@font-face {
  font-family: 'Value-Serif';
  src: url('Value-Serif.eot?#iefix') format('embedded-opentype'),  url('Value-Serif.woff') format('woff'), url('Value-Serif.ttf')  format('truetype'), url('Value-Serif.svg#Value-Serif') format('svg');
  font-weight: normal;
  font-style: normal;
}
