
@font-face {
  font-family: 'Value-Bold';
  src: url('Value-Bold.eot?#iefix') format('embedded-opentype'),  url('Value-Bold.woff') format('woff'), url('Value-Bold.ttf')  format('truetype'), url('Value-Bold.svg#Value-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
